<table class="table">
    <thead class="table-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Sales Volume</th>
            <th>Met Quota?</th>
        </tr>
    </thead>

    <tbody>
        <!-- similar to a thymeleaf template, *ngFor says to iterate over a collection where we provide the tempSalesPerson to store the current
                value from our array. Then we can access its fields using the "{{object.field}}" to get what we want.
                our [ngClass] to conditionally apply styles. in this case we apply highligh if sales volume is >= 60000-->
        <tr *ngFor="let tempSalesPerson of salesPersonList" [ngClass]="{'highlight': tempSalesPerson.salesVolume >= 60000}">
            <td>{{ tempSalesPerson.firstName }}</td>
            <td>{{ tempSalesPerson.lastName }}</td>
            <td>{{ tempSalesPerson.email }}</td>
            <!-- we can pipe the volume through currecy formatting feature to return the number in USD-->
            <td>{{ tempSalesPerson.salesVolume | currency:'USD' }}</td>
            <td>
                <!--conditional for sales volume in our met quotes? column-->
                <div *ngIf="tempSalesPerson.salesVolume >= 60000; else myElseBlock">Yes</div>
                <!--else the div is this #myElseBlock type and displays no-->
                <ng-template #myElseBlock>No</ng-template>
            </td>
        </tr>
    </tbody>
</table>